:root {
  --oui-font-family: "Manrope", sans-serif;
  --oui-font-size-base: 16px;

  /* colors - Purple & Blue theme */
  --oui-color-primary: 139 92 246;
  --oui-color-primary-light: 167 139 250;
  --oui-color-primary-darken: 124 58 237;
  --oui-color-primary-contrast: 255 255 255;

  --oui-color-link: 59 130 246;
  --oui-color-link-light: 96 165 250;

  --oui-color-secondary: 255 255 255;
  --oui-color-tertiary: 218 218 218;
  --oui-color-quaternary: 218 218 218;

  --oui-color-danger: 245 97 139;
  --oui-color-danger-light: 250 167 188;
  --oui-color-danger-darken: 237 72 122;
  --oui-color-danger-contrast: 255 255 255;

  --oui-color-success: 41 233 169;
  --oui-color-success-light: 101 240 194;
  --oui-color-success-darken: 0 161 120;
  --oui-color-success-contrast: 255 255 255;

  --oui-color-warning: 255 209 70;
  --oui-color-warning-light: 255 229 133;
  --oui-color-warning-darken: 255 157 10;
  --oui-color-warning-contrast: 255 255 255;

  --oui-color-fill: 0 0 0;
  --oui-color-fill-active: 40 46 58;

  --oui-color-base-1: 109 100 142;
  --oui-color-base-2: 88 80 121;
  --oui-color-base-3: 71 64 98;
  --oui-color-base-4: 59 52 84;
  --oui-color-base-5: 51 45 73;
  --oui-color-base-6: 42 37 60;
  --oui-color-base-7: 34 30 48;
  --oui-color-base-8: 26 23 37;
  --oui-color-base-9: 19 17 27;
  --oui-color-base-10: 12 11 18;

  --oui-color-base-foreground: 255 255 255;
  --oui-color-line: 255 255 255;

  --oui-color-trading-loss: 255 46 105;
  --oui-color-trading-loss-contrast: 255 255 255;
  --oui-color-trading-profit: 55 233 43;
  --oui-color-trading-profit-contrast: 255 255 255;

  /* gradients - Purple & Blue theme */
  --oui-gradient-primary-start: 88 28 135;
  --oui-gradient-primary-end: 139 92 246;

  --oui-gradient-secondary-start: 30 64 175;
  --oui-gradient-secondary-end: 59 130 246;

  --oui-gradient-success-start: 1 83 68;
  --oui-gradient-success-end: 41 223 169;

  --oui-gradient-danger-start: 153 24 76;
  --oui-gradient-danger-end: 245 97 139;

  --oui-gradient-brand-start: 167 139 250;
  --oui-gradient-brand-end: 59 130 246;
  --oui-gradient-brand-stop-start: 6.62%;
  --oui-gradient-brand-stop-end: 86.5%;
  --oui-gradient-brand-angle: 135deg;

  --oui-gradient-warning-start: 152 58 8;
  --oui-gradient-warning-end: 255 209 70;

  --oui-gradient-neutral-start: 27 29 24;
  --oui-gradient-neutral-end: 38 41 46;

  /* rounded */
  --oui-rounded-sm: 2px;
  --oui-rounded: 4px;
  --oui-rounded-md: 6px;
  --oui-rounded-lg: 8px;
  --oui-rounded-xl: 12px;
  --oui-rounded-2xl: 16px;
  --oui-rounded-full: 9999px;

  /* spacing */
  --oui-spacing-xs: 20rem;
  --oui-spacing-sm: 22.5rem;
  --oui-spacing-md: 26.25rem;
  --oui-spacing-lg: 30rem;
  --oui-spacing-xl: 33.75rem;
}

html,
body {
  font-family: "Manrope", sans-serif !important;
  font-size: 16px !important;
}
